extends ../layout

block content
  h1 Users
  ul
    each user in users
      li
        a(href=`/users/${user.id}`) #{user.name} - #{user.email}
        | 
        a(href=`/users/${user.id}/edit`) Edit
        | 
        a(href=`/users/${user.id}/delete`) Delete
  a(href='/users/create') Add new user
